<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
       {% if messages %}
        <h3 style="color: red;">{{ messages }}</h3>
        {% endif %}
    </header>
    <a href="/BmiCalculator">
        <div></div>
<button type="button" class="login-btn">
   BMI</button></a>
<div></div>

    <a href="/Details">
        <div></div>
<button type="button" class="login-btn">
   Your Details</button></a>
<div></div>
    <a href="/Logout">
        <div></div>
<button type="button" class="login-btn">
   Signout</button></a>
<div></div>


</body>

</html>