<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
       {% if messages %}
        <h3 style="color: red;">{{ messages }}</h3>
        {% endif %}
    </header>
    <a href="/BmiCalculator">
        <div></div>
<button type="button" class="login-btn">
   BMI</button></a>
<div></div>

    <a href="/Details">
        <div></div>
<button type="button" class="login-btn">
   Your Details</button></a>
<div></div>
    <a href="/Logout">
        <div></div>
<button type="button" class="login-btn">
   Signout</button></a>
<div></div>
<div></div>
 {% if Data %}
    {% for row in Data %}
        <div style="display: block; line-height: 0;"> 
            {% for cell in row %}

            {% if cell == "G" %}
                    <div style="width: 50px; height: 40px; background-color: grey; border: 2px solid black; display: inline-block; 
                                color: white; text-align: center; line-height: 40px; font-family: Arial, sans-serif; font-weight: bold;">
                        <!-- {{ cell }} -->
                    </div>


                {% elif cell == "A" %}
                    <div style="width: 50px; height: 40px; background-color: red; border: 2px solid black; display: inline-block; 
                                color: white; text-align: center; line-height: 40px; font-family: Arial, sans-serif; font-weight: bold;">
                        <!-- {{ cell }} -->
                    </div>
                {% else %}
                    <div style="width: 50px; height: 40px; background-color: green; border: 2px solid black; display: inline-block; 
                                color: white; text-align: center; line-height: 40px; font-family: Arial, sans-serif; font-weight: bold;">
                        <!-- {{ cell }} -->
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}


</body>

</html>